{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<div class="container">
    
    {% include "search.html" %}
    
    <div class="row">
        <h3 class="teal-text">Расписание</h3>


        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle teal">train</i>
                <span class="title">Девяткино <b>07:53</b> &mdash; Сосново <b>09:02</b></span>
                <p>6511 Санкт-Петербург (Финляндский вокзал) — Приозерск</p>
                <a href="#!" class="secondary-content"><span class="new badge red"
                        data-badge-caption="Скорый"></span></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle teal">train</i>
                <span class="title">Девяткино <b>07:53</b> &mdash; Сосново <b>09:02</b></span>
                <p>6511 Санкт-Петербург (Финляндский вокзал) — Приозерск</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle teal">train</i>
                <span class="title">Девяткино <b>07:53</b> &mdash; Сосново <b>09:02</b></span>
                <p>6511 Санкт-Петербург (Финляндский вокзал) — Приозерск</p>
            </li>
        </ul>


    </div>

</div>
{% endblock %}